body {
  background-color: #2a2d38;
  font-family: Inter;
}

.top-container {
  /* position: relative; */
  /* display: inline-block; */
}

.profile-container {
  /* position: absolute;
  left: 455px;
  bottom: -200px; */
  background-color: #1A1B21;
  padding-top: 10px;
  /* padding-bottom: 100px;
  padding-left: 110px;
  padding-right: 102px; */
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 0px;
}

.profile-photo {
  width: 400px;
  border-radius: 10px 10px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-name {
  font-family: Inter;
  text-align: center;
  color: #FFFFFFFF;
  font-size: xx-large;
  font-weight: 900;
  margin-bottom: -5px;
}

.profile-job-title {
  font-family: Inter;
  text-align: center;
  color: #F3BF99;
  font-size: large;
  font-weight: 600;
}

.profile-website {
  font-family: Inter;
  text-align: center;
  color: #F5F5F5;
  font-size: small;
  font-weight: 400;
}

.email-button {
  background-color: #FFFFFFFF;
  font-family: Inter;
  border: none;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  margin-left: auto;
  width: 130px;
}

.email-button:hover {
  background-color: rgba(255, 255, 255, 0.781);
}

.email-button > img {
  margin-right: 8px;
}

.linkedin-button {
  font-family: Inter;
  border: none;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: 40px;
  background-color: #5093E2;
  color: #FFFFFFFF;
  width: 130px;
}
 .linkedin-button > img {
  margin-right: 8px;
 }
.linkedin-button:hover {
  background-color: #3e88ddd8;
}

.button-container {
  display: flex;
}

.about-container, .interests-container {
  margin: 50px;
  max-width: 500px;
}

.about-title, .interests-title {
  color:#FFFFFFFF;
  font-size: x-large;
  font-weight: 700;
}

.about-info, .interests-info {
  color:#FFFFFFFF;
  font-size: small;
  font-weight: 300;
  margin-top: -10px;
}

.footer-container {
  display: flex;
  background-color: #161619;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 404px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px 0px 10px 10px;
  justify-content: space-around;
}

.footer-container > img {
  opacity: 60%;
}

.footer-container > img:hover {
  opacity: 100%;
}